.itemContent p {
  margin-bottom: 1rem;
}

.itemContent h1, 
.itemContent h2, 
.itemContent h3, 
.itemContent h4, 
.itemContent h5, 
.itemContent h6 {
  margin-top: 2rem;
  margin-bottom: 1rem
}

.itemContent li {
  list-style-type: disc;
  padding-left: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
